.home-welcome-page {
  text-align: center;
}
.home-welcome-page .app {
  text-align: center;
}
.home-welcome-page .rekit-logo {
  animation: app-logo-spin infinite 10s linear;
  height: 80px;
}
.home-welcome-page .app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  overflow: hidden;
  position: relative;
}
.home-welcome-page .app-title {
  font-size: 1.5em;
}
.home-welcome-page .app-intro {
  font-size: large;
}
.home-welcome-page ul,
.home-welcome-page li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.home-welcome-page ul {
  margin-top: 20px;
}
.home-welcome-page li {
  margin-top: 10px;
}
.home-welcome-page a {
  color: #0288d1;
  text-decoration: none;
}
.home-welcome-page a:hover {
  text-decoration: underline;
}
.home-welcome-page p.memo {
  width: 500px;
  color: #999;
  font-size: 12px;
  line-height: 150%;
  margin: auto;
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sa-carousel-controls .sa-carousel-control.sa-carousel-next.tablet-control {
  background-image: url(https://az749841.vo.msecnd.net/modulesassets/sfv4/Assets.img.icons.svg.carousel-right-tablet-control.7d881e2….svg);
  background-size: 100% 100%;
  height: 60px;
  width: 32px;
}
.owl-carousel .owl-stage-outer {
  position: relative;
}
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.owl-carousel .owl-dot span {
  border-radius: 50%;
  margin: 15px;
  width: 10px;
  height: 10px;
  display: block;
  background: #9dc7d8;
}
.owl-carousel .active span {
  background: #ffffff;
}
.sa-tabs {
  z-index: 10;
}
.highlights-module.SquaredImagesLayout .owl-dots {
  bottom: 10px;
  right: -25%;
  margin: 5px;
  z-index: 55;
}
.highlights-module.SquaredImagesLayout .owl-dot span {
  margin: 5px;
  background: #9dc7d8;
}
.highlights-module.SquaredImagesLayout .active span {
  background: #777676;
}
@media (max-width: 999px) {
  div.k2ng-module-ImporterHighlightsModule figure picture {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.powerfull-beauty {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.powerfull-beauty .subheader {
  width: 75%;
  text-align: center;
  margin: 25px;
}
.video-wrapper {
  position: relative;
  padding-bottom: 100px;
}
.video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.video-header .subheader {
  text-align: center;
  margin: 25px;
  width: 75%;
}
.video-header .skoda {
  margin-top: 20px;
  font-size: 2.1875rem;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #4ba82e;
  font-family: 'SKODA Next', sans-serif;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
  height: 500px;
}
.video img {
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}
.video video {
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.video .circle {
  width: 100px;
  height: 100px;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.video .circle:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .video .circle svg {
    width: 33px;
    height: 33px;
  }
}
.video .circle svg {
  width: 19px;
  height: 19px;
  fill: #ffffff;
  transform: translateX(7%);
}
.beauty {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 5px;
  background: #ffffff;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.beauty:hover {
  box-shadow: rgba(0, 0, 0, 0.05) -10px 4px 55px;
  cursor: pointer;
}
.beauty .img img {
  width: 100%;
  height: auto;
}
.beauty .text {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.dbNxPI {
  width: 100%;
  height: 100%;
  position: relative;
}
.kvfSPz {
  position: relative;
}
.bxvtys {
  padding-top: 56.25%;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dsTIND {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
}
.nav-links {
  width: 80%;
}
.nav-links .nav-list {
  width: 100%;
  text-align: right;
}
.dark {
  background-color: #000000;
}
#main-manu {
  display: block !important;
  color: #28f70c;
}
.owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 999px) and (min-width: 660px) {
  div.k2ng-module-ImporterDerivativePresentationModule .sa-derivativepresentation-carousels-wrapper .sa-derivativepresentation-carousel .sa-carousel-slick-item .img-container {
    padding-bottom: 0;
    height: 100%;
  }
}
@media (max-width: 999px) and (min-width: 660px) {
  div.k2ng-module-ImporterDerivativePresentationModule .sa-derivativepresentation-carousels-wrapper .sa-derivativepresentation-carousel .sa-carousel-slick-item .img-container {
    height: 420px;
  }
}
.img-container {
  height: 420px;
}
@media (max-width: 659px) {
  div.k2ng-module-ImporterDerivativePresentationModule .sa-derivativepresentation-carousels-wrapper .sa-derivativepresentation-carousel .sa-carousel-slick-item .img-container {
    padding-bottom: 0;
    height: 300px;
  }
}
@media (min-width: 1000px) {
  div.k2ng-module-ImporterHighlightsModule .highlights-module.SquaredImagesLayout .highlights-carousel .carousel-item .item-image .frame-image {
    position: absolute;
    height: 350px;
    top: 50px;
    left: 50%;
  }
}
div.k2ng-module-ImporterDerivativeIntroBronzeModule {
  background: #fff;
  position: relative;
  padding: 0;
}
div.k2ng-module-ImporterDerivativeIntroBronzeModule .img-wrapper .feature-container .feature-block {
  width: auto;
}
@media (max-width: 659.5px) {
  #main-menu {
    display: none;
    flex-direction: column;
  }
  #main-menu li {
    display: block;
  }
}
.mini-menu {
  position: absolute;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.788);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 50px;
  margin-top: -50px;
  margin-bottom: 20px;
  font-size: 24px;
  box-shadow: 0 0 5px 0 #b4b4b4;
}
.mini-menu li {
  border-bottom: 1px solid #ffffff;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}
.mini-menu li a {
  color: #ffffff !important;
}
div.k2ng-module-ImporterHighlightsModule .highlights-module.SquaredImagesLayout .highlights-carousel .carousel-item .item-image img {
  min-width: auto !important;
}
div.k2ng-module-ImporterDerivativePresentationModule ul.sa-tabs li {
  display: inline !important;
}
h3 {
  text-align: center;
}
#nav-is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.wrap-page {
  padding-top: 70px;
}
body {
  max-width: none;
}
.main-bg {
  padding: 35px 0 !important;
}
.main-top-bg {
  background-image: url('https://az749841.vo.msecnd.net/sitesencom/alv1/15ea91f4-d348-46f0-a328-e4ea78190f28/skoda-kodiaq-m53-hero.7c638b09ac98738fb44b3b20145a2b17.fill-1920x500.jpg') !important;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  min-height: 70vh;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ffffff;
}
.main-top-bg .banner-title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 150%;
}
.main-top-bg .banner-tagline {
  font-size: 16px;
  line-height: 250%;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.main-top-bg .banner-button span a {
  color: #ffffff !important;
}
.main-bottom {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(121, 119, 119, 0.445);
}
.main-bottom .banner-text-content {
  text-align: center;
}
.main-bottom .banner-title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 150%;
}
.main-bottom .banner-tagline {
  font-size: 16px;
  line-height: 250%;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.main-bottom .banner-button span a {
  color: #ffffff !important;
}
.bottom-menu {
  margin-top: -70px;
}
.bottom-menu ul {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  background: #000000;
  color: #ffffff;
}
.bottom-menu ul li a {
  color: #ffffff !important;
}
.bottom-menu ul li a:hover {
  color: #4ba82e !important;
  text-decoration: none;
}
.bottom-menu ul li:not(:last-child) {
  margin-right: 20px;
}
.section {
  position: relative;
}
.gallery {
  background-color: #3B3B3B;
  padding: 50px 20px;
}
.gallery .gallery-headline {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  padding: 0;
  margin: 0;
  line-height: 120%;
}
.images {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 350px;
}
.images i,
.images span,
.images img:hover {
  cursor: pointer;
}
.images .square img,
.images .small-square img,
.images .small-landscape img {
  transition: transform 3s;
}
.images .square:hover img,
.images .small-square:hover img,
.images .small-landscape:hover img {
  transform: scale(1.3, 1.3);
  transition: transform 3s;
}
.images .square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.images .square i {
  position: absolute;
  font-size: 24px;
  color: #fff;
}
.images .square span {
  border: #fff 2px solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  display: block;
}
.images .small-square {
  height: 150px;
  width: 150px;
}
.images .small-square img {
  height: 120%;
  width: auto;
}
.images .small-square,
.images .small-landscape {
  margin: 2px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images .small-square img,
.images .small-landscape img {
  position: absolute;
}
.images .small-landscape {
  height: 150px;
  width: 300px;
}
.images .small-landscape img {
  height: auto;
  width: 120%;
}
.images .shuffle-1,
.images .shuffle-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.images .top,
.images .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
